* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", Sans-serif;
  color: #444444;
  line-height: 1.4;
}

.container {
  width: 1200px;
  margin: 0 auto;
  border-top: 10px solid #250b0b;
  border-bottom: 10px solid #250b0b;
  display: grid;
  grid-template-columns: 1fr 300px;
  column-gap: 50px;
  row-gap: 20px;
}

.main-head {
  background-color: #f5fffa;
  padding: 20px 40px;
  grid-column: 1/-1;
}
article {
  grid-column: 1/2;
  padding-left: 20px;
}

.main-body {
  background-color: #f5fffa;
}
h1,
h2,
h3 {
  color: #250b0b;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 40px;
  /* padding: 10px 0px; */
}

h3 {
  font-size: 20px;
  margin: 10px 20px;
}

p {
  font-size: 18px;
  margin: 15px 0;
  line-height: 1.5;
}

li {
  font-size: 18px;
  margin-left: 30px;
}

#head-pix {
  margin-left: -20px;
}

.about {
  padding: 10px 0;
}

.hubby {
  padding-bottom: 3px;
}
.hubby:last-child {
  padding-bottom: 0;
}

.about-my-hubby {
  margin-left: 20px;
  list-style: square;
}
.head-pix {
  width: 8%;
  height: auto;
}

a:link,
a:visited {
  cursor: pointer;
}
a:hover,
a:active {
  text-decoration: dotted;
  font-weight: bold;
}

/* aside */
aside {
  padding: 15px;
  border-top: 10px solid #250b0b;
  border-bottom: 10px solid #250b0b;
  line-height: 1.4;
  background-color: mintcream;
  align-self: start;
}
.about-media {
  font-size: 36px;
  color: #250b0b;
}
about-header {
  background-color: #f7f7f7;
  padding-bottom: 5px;
  padding-left: 5px;
}

.about-link:link,
.about-link:visited {
  cursor: pointer;
}
.about-link:hover,
.about-link:active {
  text-decoration: dotted;
  font-weight: bold;
}
