* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Sans-serif;
  color: #444444;
  border-top: 10px solid #250b0b;
  line-height: 1.4;
}

.container {
width:1000px;
margin: 0 auto;
}

.main-head {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 50px;
}
.main-body {
  background-color: #f7f7f7a6;
  margin-bottom: 60px;
}


h1 {
  color: rgb(141, 141, 167);
  text-align: center;
}

h2 {
  font-size: 40px;
  /* padding: 10px 0px; */
}

h3 {
  font-size: 20px;
  margin: 10px 20px;
}

p {
  font-size: 18px;
  margin: 15px 0;
}

li {
  font-size: 18px;
  margin-left: 30px;
}

.head-picture {
  margin-bottom: 30px;
}

.about {
  padding: 10px 0;
}

.hubby {padding-bottom: 3px;
}
.hubby:last-child{
  padding-bottom: 0;
}

.about-my-hubby {
  margin-left: 20px;
  list-style:square;
}
.head-pix{
  width:8%;
  height: auto;

}

a:link, a:visited{
  cursor: pointer;
}
a:hover, a:active{
text-decoration: dotted;
font-weight: bold;